.ui.inverted.dimmer {
  background-color: rgba(255, 255, 255, 1);
}

.main-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.root {
  padding-bottom: 50px;
  position: relative;
}
