.header {
  text-align: center;
}

.ui.selection.dropdown {
  margin-left: 20px;
  padding: 0;
}

.ui.negative.button {
  margin-left: 10px;
}

.filter-menu {
  display: flex;
  justify-content: center;
}
